<% layout("/layouts/boilerplate")%>
<body>
  <h4>all listings</h4>
  <!-- <form action="/listings/new" method="GET">
    <button>Create New Listing</button>
  </form> -->
  <% for(let listing of allListings) {%> 
  <div class="card" style="width: 18rem;">
    <img src="<%=listing.image%>" class="card-img-top" alt="listing_image">
    <div class="card-body">
      <li><a href="/listings/<%=listing._id%>"><%=listing.title%></a></li>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </div>
  </div>
  <%}%>

  <% for(let listing of allListings) {%>
  <li><a href="/listings/<%=listing._id%>"><%=listing.title%></a></li>
  <%}%>
</body> 
